<% if signed_in? %>
<p>
	Welcome back, <%=current_user.name%>! This is the home page of dboing! On this page you can update your status and see the feed of all the users you are following.
</p>
	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="micropost">What's up?</h1>
				<%=render 'shared/micropost_form' %>
				<%=render 'shared/feed'%>				
			</td>
			<td class="sidebar round">
				<%=render 'shared/user_info'%>
				<%=render 'shared/stats'%>
			</td>
		</tr>
	</table>
<% else %>
<h1>dboing</h1>
<p>
	Welcome to dboing!  To get the most from the site, you should sign up now!
</p>
<%= link_to "Sign up now!",signup_path, :class => "signup_button round"%>
<% end %>